.login-page {
	background-image: url('../images/city.jpg');
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	height: 100%; 
	text-align: center;  
}

.welcome-content{
	position: relative;
	display: inline-block;
	text-align: center;    
	border: 15px solid green;
	background-color: black;
  	padding: 50px;
}

.welcome-content h1 {
	font-size: 100px;
}

.select-page {
	background-image: url('../images/city.jpg');
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	height: 100%; 
	text-align: center;  
}

.form{
	position: relative;
	display: inline-block;
	text-align: center;    
	border: 10px solid black;
	background-color: grey;
  	padding: 50px;
}

.queue-box{
	margin-top: 10%;
}

.submit-button{
	margin-top: 10%;
}

.queue-input, .queue-label {
	float: left;
	clear: left;
}