{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<h1>Select Playlists</h1>

    <form action="" id="task-form" method="post">
        {% csrf_token %}
        <select name="selected_playlists" id="selected_playlists" multiple>
            {% for playlist in playlists%}
                <option value={{playlist.id}}>{{playlist.name}}</option>
            {% endfor %}  
        </select>

        <input type="number" id="queue_limit" name="queue_limit"> 

        <button type="submit">Queue!</button>
    </form>
<h1>{{server_msg}}</h1>
{% endblock %}