{% extends 'main/base.html' %}
{% load static %}

{% block headcontent %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> 
{% endblock %}

{% block content %}
<div class="select-page">
    <div class="form">
    <h1>Select Playlists</h1>
        <form action="/select" id="task-form" method="post">
            <div class="select-box">
                {% csrf_token %}
                <select name="selected_playlists" id="selected_playlists" multiple>
                    {% for playlist in playlists%}
                        <option value={{playlist.id}}>{{playlist.name}}</option>
                    {% endfor %}  
                </select>
            </div>

            <div class="queue-box">
                <input type="number" id="queue_limit" name="queue_limit"> 
            </div>

            <div class="submit-button">
                <button type="button" name="" onclick="clickButton();">Queue</button>
            </div>
        </form>
        <p id="msg" name="msg"></p>
        </div>
    </div>
</div>  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    function clickButton(){
        var selected_playlists=document.getElementById('selected_playlists').value;
        var queue_limit=document.getElementById('queue_limit').value;

        $.ajax({
            type:"post",
            url:"select",
            headers:{
                'CSRFToken' : getCSRFTokenValue()
            },
            data: 
            {  
                'selected_playlists' : selected_playlists,
                'queue_limit' : queue_limit,
            },
            cache:false,
            success: function (html) 
            {
                $('#msg').html(html);
            }
        });
        return false;
    }
</script>
{% endblock %}